@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



body{
    margin:0px;
    padding:0px;
    font-family: 'Changa',Arial, sans-serif;
    text-decoration: none;

}
:root{
    --main-color:#dcebf1;
}


.unit-container{

    display:flex;
    flex-direction:column;
    justify-content:flex-start;


}
.unit-header{
    padding-left:50px;
    margin-top:20px;
    /* background: linear-gradient(90deg, #b4c4cb 0%, #7b95cb 98%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; */
    color:#b4c4cb;
    font-size:8rem;
    height:200px;
    font-family:'Changa', 'sans-serif';
    background:#f8f9fa;
    height:150px;
    display:flex;
    align-items: center;
    


}
.unit-subtext{
    max-width:500px;
    margin-left:60px;
    margin-bottom:20px;
    margin-top:20px;
    color:grey;

}
form {
    margin-left:60px;

}

form input{
    border-radius:5px;
    border:#9cb8f0 solid 2px;
    color:rgb(215, 215, 215);
    /* font-family:'Mukta', 'sans-serif'; */
    width:150px;
    height:35px;
    font-size:.96rem;
    padding-left:10px;
}

#submit{
    color:rgb(23, 47, 93);
    transition:transform .5s, background .3s;
}

#submit:hover{
    color:white;
    transform:scale(1.03);
    background:#9cb8f0;
}


#gogglers{
    margin-right:-25px;
}


@media screen and (max-width: 800px) {
    .unit-header{
        min-width:400px;
        /* tbc */
    }

}

#lol{
    display:inline;
    margin-top:-370px;
    margin-left:800px;
}

#about-us{
    border: green solid 3px;
    height:100%;
    width:300px;
}
