@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



body{
    margin:0px;
    padding:0px;
    font-family: 'Changa',Arial, sans-serif;
    text-decoration: none;

}
:root{
    --main-color:#b4c4cb;
}


#left-unit-container{

    display:flex;
    flex-direction:column;
   


}
.unit-header{
    padding-left:50px;
    margin-top:20px;

    
    font-size:8rem;
    height:200px;
    font-family:'Changa', 'sans-serif';
    background:#f8f9fa;
    height:150px;
    display:flex;
    align-items: center;
    


}
.unit-header div{
         background: linear-gradient(90deg, #b4c4cb 0%, #7b95cb 98%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
}
.unit-subtext{
    max-width:600px;
    margin-left:60px;
    margin-bottom:20px;
    margin-top:20px;
    color:grey;

}
form {
    margin-left:60px;

}

form input{
    border-radius:5px;
    border:var(--main-color) solid 2px;
    color:rgb(0, 0, 0);
    /* font-family:'Mukta', 'sans-serif'; */
    width:150px;
    height:35px;
    font-size:.96rem;
    padding-left:10px;
}

#submit{
    color:rgb(23, 47, 93);
    transition:transform .5s, background .3s;
}

#submit:hover{
    color:white;
    transform:scale(1.03);
    background:var(--main-color);
}


#gogglers{
    height:75px;
    margin-left:-330px;
    margin-top:-100px;
    transform:rotate(10deg); 
}


@media screen and (max-width: 800px) {
    .unit-header{
        /* min-width:400px; */
        font-size:5rem;
    }
    .pfprow{
        flex-direction: column;
    }

    #full-container{
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }


}


#contact-us{
    /* border: green solid 3px; */
    background:#edeee7;
    margin-top:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}


.pfprow{

    padding-bottom:20px;
}

.pfp-sub-text{
    margin-left:45px;
    width:450px;
    color:#636363;

}

#au-main{
    font-size:4rem;
    margin-left:40px;
    padding-top:15px;
    color:rgb(255, 255, 255);
    font-family:'Changa','Sans-serif';
    margin-bottom:10px;
}

#right-unit-container{
    display:flex;
    justify-content:center;
    align-items:center;
    /* border:red 3px solid; */
    width:50%;
    margin-top:20px;
}

#full-container{
    display:flex;
}

#map{
    height:450px;
}
#map:hover{
    cursor:pointer;
}

#right-unit-container div{
    border-radius:5px;
    border:var(--main-color) solid 5px;
}

#resultpic{
    width:370px;
    height:450px;
    border:#636363 solid 2px;
    
}

#result-section{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:30px;
    margin-left:55px;
    
}

#inforesult-text{
    border:#636363 solid 2px;
    width:450px;
    height:450px;
    background:#f8f9fa;
    padding-left:15px;
    padding-top:15px;
    
}

#contact-info{
    border:rgb(255, 255, 255) 5px solid;
    border-radius:5px;
    margin-right:50px;
    padding-left:10px;
    z-index:99;
    width:400px;
    height:100px;
    color:#636363;
    margin-top:120px;

}
